include LICENSE
include README.md
include *.bat
include *.example.toml
include *.example.txt
include requirements-*.txt
recursive-include docs *.md *.png *.jpg
recursive-include examples *.py
recursive-include rhodes_fast/gui_web/web *.html *.css *.js *.woff2
prune models
prune MODEL
global-exclude *.onnx *.engine *.plan *.pt *.pth
