include LICENSE
include README.md
include *.bat
include *.example.toml
include *.example.txt
include requirements-*.txt
recursive-include docs *.md *.png
recursive-include rhodes_fast/ui/assets *.jpg
prune models
prune MODEL
global-exclude *.onnx *.engine *.plan *.pt *.pth
